<!DOCTYPE html>
<html>
<head>
  <title>HealthTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <nav class="navbar">
    <h1>Health Tracker</h1>
    <%= link_to "Home", root_path %>

    <%= yield(:nav) %>
  </nav>
  <hr>
  <%= yield %>
</div>
</body>
</html>
